[Desktop Entry]
Encoding=UTF-8
Name=Joplin
Comment=Joplin for Desktop
Exec=/opt/Joplin.AppImage --no-sandbox
Icon=joplin
StartupWMClass=Joplin
Type=Application
Categories=Office;
